<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard Sidebar Menu</title>
    <!-- ==== CSS === -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selection.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function openFullImage(img) {
            const modal = document.getElementById("imageModal");
            const modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = img.getAttribute('data-fullsize');
        }

        function closeFullImage() {
            document.getElementById("imageModal").style.display = "none";
        }
    </script>
</head>


<body>
        <div class="sidebar">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="/static/images/waguri_pfp.jpg" alt="logo">
                    </span>

                    <div class="text header-text">
                        <span class="name">Meta AI</span>
                        <span class="profession">Gooner</span>
                    </div>
                </div>

                <img class="toggle"> <!--src="/static/images/chevron_right.png"-->
            </header>

            <div class="app-container">
                <div class="menu-bar">
                    <div class="menu-header">
                        <li class="search-box">
                            <div class="search-container">
                                <!--<img class="search-bar" src="/static/images/search.png" alt="Search Icon">-->
                                <input type="search" id="waifuSearch" placeholder="Search...">
                            </div>
                        </li>

                        <div class="filter-controls">
                            <label><input type="checkbox" id="filterFavourites">Favourites</label>

                            <select id="sortSelect" style="margin-left: 10px; padding: 4px;">
                                <option value="asc">Name A-Z</option>
                                <option value="desc">Name Z-A</option>
                                <option value="popularity">Popularity</option>
                            </select>
                        </div>
                    </div>

                    <div class="menu-scroll" id="waifuList">
                        <ul class="menu-link">
                            <li class="nav-link" data-name="Waguri Kaoruko" data-img="/static/images/asuna1_pfp.jpg" data-desc="A skilled swordswoman from Sword Art Online, kind and brave.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/waguri_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/waguri_pfp.jpg">
                                    <span class="text nav-text">Waguri Kaoruko</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Waguri Kaoruko')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Rin Tohsaka" data-img="/static/images/rin_pfp.jpg" data-desc="An intelligent and elegant mage from the Fate series.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/rin_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/rin_pfp.jpg">
                                    <span class="text nav-text">Rin Tohsaka</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Rin Tohsaka')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Asuna Yuuki" data-img="/static/images/asuna1_pfp.jpg" data-desc="A skilled swordswoman from Sword Art Online, kind and brave.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/asuna1_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/asuna1_pfp.jpg">
                                    <span class="text nav-text">Asuna Yuuki</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Asuna Yuuki')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Yukino Yukinoshita" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/yukino_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/yukino_pfp.jpg">
                                    <span class="text nav-text">Yukino Yukinoshita</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Yukino Yukinoshita')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Chinatsu Kano" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/chinatsu_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/chinatsu_pfp.jpg">
                                    <span class="text nav-text">Chinatsu Kano</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Chinatsu Kano')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Asuka Langley Soryu" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/asuka1_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/asuka1_pfp.jpg">
                                    <span class="text nav-text">Asuka Langley Soryu</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Asuka Langley Soryu')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Boa Hancock" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/boa_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/boa_pfp.jpg">
                                    <span class="text nav-text">Boa Hancock</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Boa Hancock')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Haruno Yukinoshita" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/haruno_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/haruno_pfp.jpg">
                                    <span class="text nav-text">Haruno Yukinoshita</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Haruno Yukinoshita')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Himeko Inaba" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/inaba1_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/inaba1_pfp.jpg">
                                    <span class="text nav-text">Himeko Inaba</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Himeko Inaba')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Makima" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/makima_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/makima_pfp.jpg">
                                    <span class="text nav-text">Makima</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Makima')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Misato Katsuragi" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/misato_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/misato_pfp.jpg">
                                    <span class="text nav-text">Misato Katsuragi</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Misato Katsuragi')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Reze" data-img="/static/images/yukino_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/reze_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/reze_pfp.jpg">
                                    <span class="text nav-text">Reze</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Reze')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Alya" data-img="/static/images/alya_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/alya_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/alya_pfp.jpg">
                                    <span class="text nav-text">Alisa Mikhailovna Kujou</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Alya')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Kyouko Hori" data-img="/static/images/hori_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/hori_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/hori_pfp.jpg">
                                    <span class="text nav-text">Kyouko Hori</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Kyouko Hori')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Emilia" data-img="/static/images/emilia_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/emilia_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/emilia_pfp.jpg">
                                    <span class="text nav-text">Emilia</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Emilia')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Mai Sakurajima" data-img="/static/images/mai_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/mai_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/mai_pfp.jpg">
                                    <span class="text nav-text">Mai Sakurajima</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Mai Sakurajima')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Echidna" data-img="/static/images/echidna.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/echidna_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/echidna_pfp.jpg">
                                    <span class="text nav-text">Echidna</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Echidna')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Anri Teieri" data-img="/static/images/anri_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/anri_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/anri_pfp.jpg">
                                    <span class="text nav-text">Anri Teieri</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Anri Teieri')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Isuzu Sento" data-img="/static/images/sento_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/sento_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/sento_pfp.jpg">
                                    <span class="text nav-text">Isuzu Sento</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Isuzu Sento')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Orihime" data-img="/static/images/orihime_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/orihime_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/orihime_pfp.jpg">
                                    <span class="text nav-text">Orihime Inoue</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Orihime')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Rukia" data-img="/static/images/rukia_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/rukia_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/rukia_pfp.jpg">
                                    <span class="text nav-text">Rukia Kuchiki</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Rukia')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Soifon" data-img="/static/images/soifon_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/soifon_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/soifon_pfp.jpg">
                                    <span class="text nav-text">Soi Fon</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Soifon')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Chizuru" data-img="/static/images/chizuru_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/chizuru_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/chizuru_pfp.jpg">
                                    <span class="text nav-text">Chizuru Mizuhara</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Chizuru')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Akane" data-img="/static/images/akane_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/akane_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/akane_pfp.jpg">
                                    <span class="text nav-text">Akane Kurokawa</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Akane')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Erina" data-img="/static/images/erina_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/erina_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/erina_pfp.jpg">
                                    <span class="text nav-text">Erina Nakiri</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Erina')">★</span>
                                </a>
                            </li>

                            <li class="nav-link goku-special" data-name="Goku" data-img="/static/images/goku_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <!--<img class="waifu-one" src="/static/images/goku_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/goku_pfp.jpg">-->
                                    <span class="text nav-text"></span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Goku')"></span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Maki" data-img="/static/images/maki_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/maki_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/maki_pfp.jpg">
                                    <span class="text nav-text">Maki Oze</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Maki')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Nagisa" data-img="/static/images/nagisa_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/nagisa_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/nagisa_pfp.jpg">
                                    <span class="text nav-text">Nagisa Natsunagi</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Nagisa')">★</span>
                                </a>
                            </li>

                            <li class="nav-link" data-name="Siesta" data-img="/static/images/siesta_pfp.jpg" data-desc="Cool, perfectionist, and sharp-tongued girl from Oregairu.">
                                <a href="#">
                                    <img class="waifu-one" src="/static/images/siesta_pfp.jpg" onclick="openFullImage(this)" data-fullsize="/static/images/siesta_pfp.jpg">
                                    <span class="text nav-text">Siesta</span>
                                    <span class="favourite" onclick="toggleFavourite(event, 'Siesta')">★</span>
                                </a>
                            </li>
                        </ul>
                    </div>  
                </div>
            </div>    
        </div>    

        <div id="waifuOverview" class="overview-panel">
            <img id="overviewImg" src="" alt="Waifu Image">
            <h2 id="overviewName"></h2>
            <p id="overviewDesc"></p>
            <div id="overviewStats"></div>

            <button id="chatButton" class="chat-btn">Chat</button>
        </div>


        <div id="imageModal" class="modal" onclick="closeFullImage()">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
    </div>

    <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
</body>



</html>
